@tailwind base;
@tailwind components;
@tailwind utilities;

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active {
  outline: none;
}
a:focus,a:active {
  outline: none;
}
nav,footer,header,aside {
  display: block;
}
html,body {
  
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: inherit;
}
/* ---------------------------------------------------------------------------------------- */
body {
  height: 100dvh;
}
@layer components {
  .cell::before {
    @apply content-[''] absolute top-0 left-0 w-[14px] h-[14px] -m-[1px] border-[1px] md:w-[20px] md:h-[20px] md:-m-[2px] md:border-2 lg:w-[28px] lg:h-[28px] lg:-m-[3px] lg:border-[3px] xl:w-[32px] xl:h-[32px] xl:-m-[4px] xl:border-4 bg-blue-400 border-t-blue-200 border-l-blue-200 border-b-blue-600 border-r-blue-600 border-solid cursor-pointer
  }
  .cell-after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background-size: contain;
  }
  .arrow {
    width: 60px;
    height: 40px;
    background-color: white;
    clip-path: polygon(0 50%, 40% 0, 40% 30%, 100% 30%, 100% 70%, 40% 70%, 40% 100%);
  }
  td {
    border: 2px solid black;
    padding: 4px;
    background-color: white;
  }
}
